<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <link name="camera_link">
        <visual>
            <geometry>
                <box size="0.010 0.03 0.03"/>
            </geometry>
            <material name="red"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </visual>
    </link>

    <joint name="chassis_to_camera_link" type="fixed">
        <parent link="chassis"/>
        <child link="camera_link"/>
        <origin xyz="0.095 0.0 0.065" rpy="0 0 0"/>
    </joint>



    <link name="camera_link_optical">
    </link>

    <joint name="camera_optical_joint" type="fixed">
        <parent link="camera_link"/>
        <child link="camera_link_optical"/>
        <origin xyz="0.0 0.0 0.0" rpy="${-pi/2} 0 ${-pi/2}"/>
    </joint>

</robot>